.cover-box {
  position: relative;
}

.slot-box {
  position: absolute;
  bottom: 16%;
  left: 24%;
  width: 51%;
  height: 80px;
  border-radius: 10px;
  /* background-color: #e8eaed; */
}

.reel {
  height: 80px;
  text-align: center;

  /** CUSTOMISE BELOW */
  font-size: 80px;
  font-weight: 300;
  color: #364564;
  line-height: 0.95em; /* adjusted for Lato font */
}
